/* Reset some basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
    color: #f4f4f9;
}

p, h1 {
    cursor: default;
}

header {
    background-color: #333;
    color: white;
    padding: 28px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: rgb(240, 240, 240);
    transition: color 0.3s ease;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

nav ul li a:hover {
    color: rgb(240, 175, 12); /* Darker grey on hover */
}

.format-center {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 24px;
}

section {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.landing {
    text-align: center;
    margin-top: -100px;
}

.landing h1 {
    font-size: 3em;
    color: rgb(240, 175, 12);
    position: relative;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide text that overflows */
}

.landing h1::after {
    content: ''; /* Simulate cursor */
    display: inline-block;
    width: 2px;
    height: 1em;
    background-color: rgb(240, 175, 12);
    margin-left: 8px; /* Adjust space between text and cursor */
    animation: blink 0.5s step-end infinite alternate;
}

@keyframes blink {
    50% {
        background-color: transparent; /* Cursor invisible */
    }
}
.landing p {
    font-size: 1.2em;
    margin-top: 10px;
}

.about, .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 680px;
    text-align: center;
}

.about h1, .contact h1 {
    color: rgb(240, 175, 12);
}

.skill, .certification {
    color: inherit;
    transition: color 0.3s ease;
}

.skill:hover, .certification:hover {
    color: rgb(240, 175, 12); /* Yellow color */
}

.projects ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.projects ul li {
    margin-bottom: 10px;
}

.projects ul li a {
    color: #007BFF;
    text-decoration: none;
    font-size: 1.2em;
}

.project {
    margin: 50px 0;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

.project p {
    font-size: 1.2em;
    line-height: 1.6;
}

.contact-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */
    gap: 20px;
    margin-top: 12px;
    justify-content: center; /* Center the grid horizontally */
}

.contact-cards a {
    text-decoration: none;
}

.card {
    background-color: #444;
    color: #f4f4f9;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
    padding: 20px;
    width: 300px;
    text-align: left;
    transition: border-color 0.3s ease;
    cursor: pointer;
}

.card h2 {
    font-size: 0.9em;
    margin-bottom: 10px;
    color: rgb(152, 152, 152);
    font-weight: 600;
    cursor: pointer;
}

.card p {
    color: rgb(240, 175, 12);
    font-size: 1.1em;
    cursor: pointer;
}

.card:hover {
    border: 1px solid rgb(240, 175, 12);
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap:8px;
    align-items: baseline;
}